<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Añadir comentario</title>
</head>
<body>

<h1 align="center">Nuevo comentario</h1>

<form th:action="@{/addComment}" method="POST">

	<div align="center">
	    <label for="contenido">Contenido: </label>
	    <input type="text" id="contenido" name="contenido"/>
	    <button id="nuevaSugerencia" type="submit">Nuevo comentario</button>
    </div>
    
</form>
</body>
</html>