<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Añadir sugerencia</title>
</head>
<body>
<h1 align="center">Nueva sugerencia</h1>
<form th:action="@{/addSuggestion}" method="POST">
	<div align="center">
	    <label for="contenido">Sugerencia: </label>
	    <input type="text" id="contenido" name="contenido"/>
	    <button id="nuevaSugerencia" type="submit">Nueva sugerencia</button>
    </div>
    
</form>
</body>
</html>