<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title align="center">Lista de sugerencias</title>
</head>
<body>
	
	
	
	<div th:id="todas" align="center">
			<table>
				<tr>
					<th cellspacing="0" cellpadding="3">Sugerencia</th>
					<th></th>
					<th>Usuario</th>
					<th></th>
				</tr>
				<tr th:each="s : ${sugerencias}">	
			                  <td th:text="${s.contenido}"></td>
			                  <td></td>
			                  <td th:text="${s.usuario.usuario}"/> 
		       				  <td></td>
		       				  <td>
		       				  <form th:action="@{/mostrar(sugerencia=${s.id})}" method="POST">
		       				  	<button id="ver" type="submit" name="ver" th:value="${s.contenido}">
		       				  	Mostrar
		       				  	</button>
		       				 
		       				  </form>
		       				  </td> 
				</tr>
			</table>
			
			<div>
		<form th:action="@{/newSuggestion}" method="POST"> 
					<button id="nueva" type="submit" name="nueva">Nueva sugerencia</button>
		</form>	
	</div>
</div>

<div align="right">
		<form th:action="@{/logout}" method="POST"> 
					<button id="logout" type="submit" name="logout">Cerrar sesion</button>
		</form>
	</div>
</body>
</html>